<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} musJM {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylee.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/stylee.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'music:index' %}">musJM</a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'music:albums' %}">
                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;
                        Albums
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'music:songs' 'all' %}">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;
                        Songs
                    </a>
                </li>

            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'music:albums' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            
            <ul class="nav navbar-nav navbar-right">
                
                <li class="">
                    <a href="{% url 'music:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout

                    </a>
                </li>
            </ul>
            
        </div>
    </div>

</nav>

 <nav class="navbar navbar-expand-lg  circle" style="background-color: #fff1e9;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'music:index' %}">Home</a>

                <li class=" nav-item active"><a class="nav-link" href="{% url 'music:punjabi' %}">Punjabi Music</a></li>
					<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'music:english' %}">English Music</a></li>
					<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'music:hindi' %}">Hindi Music</a></li>
					<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
			   		<li class="nav-item active"><a class="nav-link" href="{% url 'music:edm' %}">EDM</a></li>
			   		<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
			   		<li class="nav-item active"><a class="nav-link" href="{% url 'music:devotional' %}">Devotional</a></li>
			   		<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
			   		<li class="nav-item active"><a class="nav-link" href="{% url 'music:workout' %}">Workout</a></li></ul>
             
            </li>
           
          </ul>
        </div>
    </nav>

      

<br>
        </br>
{% block body %} 
{% endblock %}
</body>
</html>
