<!DOCTYPE html>
<head>
<title>musJM||music by Jasmine</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="All the new Punjabi songs are here for free download. Play the latest mp3 music, including sad songs, wedding &amp; Bhangra dance music right now. DJ the latest playlist!">
<meta name="keywords" content="New Punjabi Songs Free Download, Miss Pooja, Mr Jatt, Newpunjabisongs, Punjabimusic, Gurdas Mann, Diljit, Oldpunjabisongs, Punjabimp3Songs, Gippy Grewal, Diljit, Classic, Top 50, Top 10, Play, Playlist">

    {% load static %}
<link href='https://fonts.googleapis.com/css?family=Satisfy'  rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylee.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
<link href="{% static 'music/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'music/stylee.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'music/component.css' %}" />

<script type="text/javascript" src={% static "music/js/modernizr.custom.js" %}></script>
<script type="text/javascript" src={% static "music/js/move-top.js" %}></script>
<script type="text/javascript" src={% static "music/js/easing.js" %}></script>


<style type="text/css">
body {
  font-size: 100%;
  background-image: url({% static "images/back1.jpg" %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



</style>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">musJM</a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'music:albums' %}">
                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;
                        Albums
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'music:songs' 'all' %}">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;
                        Songs
                    </a>
                </li>


            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'music:albums' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                
                <li class="">
                    <a href="{% url 'music:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout

                    </a>
                </li>
            </ul>

        </div>
    </div>

</nav>

<div>
	<h1 style="font-size:60px;padding-top:10px;padding-bottom:10px;font-family: 'Notable', sans-serif;"><font color="black"><p align="center">MusJM</p></font></h1>
	</div>
<div class="container">
  
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>
  
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item active">
		  <img src="{% static "images/img7.png" %}" alt="punjabi beats"  style="width:100%; height:500px;background-repeat: no-repeat;
		  background-position: center;background-size: cover;">
		  
		</div>
  
		<div class="item">
		  <img src="{% static "images/img8.png" %}" alt="punjabi beats" style="width:100%;height:500px;background-repeat: no-repeat;
		  background-position: center;background-size: cover;">
		</div>
	  
		<div class="item">
		  <img src="{% static "images/img11.png" %}" alt="punjabi beats" style="width:100%;height:500px;background-repeat: no-repeat;
		  background-position: center;background-size: cover;">
		</div>
	  </div>
  
	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
  </div>

  <nav class="navbar navbar-expand-lg  circle" style="background-color: #fff1e9;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	 
	  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
			<a class="nav-link" href="{% url 'music:index' %}">Home</a>

			<li class=" nav-item active"><a class="nav-link" href="{% url 'music:punjabi' %}">Punjabi Music</a></li>
				<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
				<li class="nav-item active"><a class="nav-link" href="{% url 'music:english' %}">English Music</a></li>
				<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
				<li class="nav-item active"><a class="nav-link" href="{% url 'music:hindi' %}">Hindi Music</a></li>
				<li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
				   <li class="nav-item active"><a class="nav-link" href="{% url 'music:edm' %}">EDM</a></li>
				   <li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
				   <li class="nav-item active"><a class="nav-link" href="{% url 'music:devotional' %}">Devotional</a></li>
				   <li class="nav-item active"><a class="nav-link" href="about.html">        </a></li>
				   <li class="nav-item active"><a class="nav-link" href="{% url 'music:workout' %}">Workout</a></li></ul>
		 
		</li>
	   
	  </ul>
	</div>
</nav>

	


<!-- banner -->
<br>
        </br>
        <br>
        </br>
<div class="banner">
	<div class="col-lg-3 col-md-3 banner-left">
<div class="col-md-1">
        <div class="col-sm-12">
            <h2>Trending</h2>
            <h3>Albums</h3>
        </div>
                <br>
                </br>
                <br>
</br>
        {% if albums %}
            {% for album in albums %}

                <div class="col-sm-4 col-lg-2 col-md-2">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" alt="album logo" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h3>{{ album.album_title }}</h3>
                            <h5>{{ album.artist }}</h5>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>


                        <br>
                        </br>
                        <br>
                        </br>

                            <!-- Favorite Album


-->
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>

            </div>
        {% endif %}
    </div>

        </div>
       
			<section id="gen">
					<h1 class="tittle" style=" color:rgb(54, 51, 51);font-size:60px;padding-top:20px;font-family: 'Patrick Hand SC', cursive;padding-left:270px;"><b>GENRE</b></h1>
				  
				  
				  
					<div class="row genre">
						<div class="column">
							<a href="{% url 'music:punjabi' %}"	>
							   
								<figure>
								  <img  src="{% static "images/g1.png" %}" height="140" width="100" style="border-radius:12px;">
								  <figcaption>
									<h4 style="color:black;font-size:20px;padding-top:10px;">Punjabi</h4>
								  </figcaption>
								</figure>
							  
								  </a>
								  <a href="{% url 'music:english' %}"	>
							  
								<figure>
								  <img src="{% static "images/g2.png" %}" height="140" width="100" style="border-radius:12px;">
								  <figcaption>
									<h4 style=" color:black;font-size:20px;padding-top:10px;">English</h4>
								  </figcaption>
								</figure>
							  
								  </a>
								 
						   
						  
						</div>
						<div class="column">
						   
									<a href="{% url 'music:edm' %}"	>
								
								  <figure>
									<img src="{% static "images/g4.png" %}" height="140" width="100" style="border-radius:12px;">
									<figcaption>
									  <h4 style="color:black;font-size:20px;padding-top:10px;">EDM</h4>
									</figcaption>
								  </figure>
								
									</a>
									<a href="{% url 'music:devotional' %}"	>
								
								  <figure>
									  <img src="{% static "images/g5.png" %}" height="140" width="100" style="border-radius:12px;">
									<figcaption>
									  <h4 style="color:black;font-size:20px;padding-top:10px;">Devotional</h4>
									</figcaption>
								  </figure>
								
										</a>
									
							  
						
							
						</div>
						<div class="column">
							<a href="{% url 'music:workout' %}"	>
								
								<figure>
					  
									<img src="{% static "images/g6.png" %}" height="140" width="100" style="border-radius:12px;">
					  
											  <figcaption>
									<h4 style="color:black;font-size:20px;padding-top:10px;">Workout</h4>
								  </figcaption>
								</figure>
							  
									  </a>
				  
									  <a href="{% url 'music:hindi' %}"	>
							  
										  <figure>
											<img src="{% static "images/g3.png" %}" height="140" width="100" style="border-radius:12px;">
											<figcaption>
											  <h4 style=" color:black;font-size:20px;padding-top:10px;">Hindi</h4>
											</figcaption>
										  </figure>
										
											</a>
										
									  
						</div>
					</div>
				  </section>
		<div class="about">
			<h3 class="tittle">About Us</h3>
			<div class="about-info">
				<div class="col-md-8 about-grids">
					<h4>musJM || Music By Jasmine  </h4>
					<strong>
                    <p>This music website is a simple, beautiful, and free way to listen to all your favorite Punjabi , English , bollywood , EDM , Dubstep ,Workout and Devotional music  on the go! </p>
					</strong>
                        <div class="about-row">
						<div class="col-md-4 about-imgs">
							<img src="{% static "images/g3.png" %}" alt="" height="120" width="100" class="img-responsive zoom-img"/>
						</div>
						<div class="col-md-4 about-imgs">
							<img src="{% static "images/g4.png" %}" alt="" height="120" width="100"  class="img-responsive zoom-img"/>
						</div>
						<div class="col-md-4 about-imgs">
							<img src="{% static "images/g5.png" %}" alt="" height="120" width="100" class="img-responsive zoom-img"/>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 about-grids">
					<h4><font size="04"><b>Our Advantages </b></font></h4>
					<div class="pince">
						<div class="pince-left">
							<h5>01</h5>
						</div>
						<div class="pince-right">
						<strong>	<p><font size="03">The smartest SEARCH gives the fastest results .</font></p></strong>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>02</h5>
						</div>
						<div class="pince-right">
							<strong><p><font size="03">The largest library on the web make it easy to listen to anything even  hard-to-find classics.</font></p></strong>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>03</h5>
						</div>
						<div class="pince-right">
						<strong>	<p><font size="03">musJS is a fully responsive website which provides full access to all your music, anywhere, anytime..</font></p></strong>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	<!--//about-->
	<!-- testimonials -->
	<div class="testimonials">
			<h3 class="tittle">Testimonials</h3><br><br>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="testimonials-grid">
								<div class="testimonials-grid-left1">
									<img src="{% static "images/t4.png" %}" alt=" " height="150" width="120" class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span><font size="04"><b>Gurprasad Singh: </b></span>Great user interface and an interesting mix of songs. One of its kind music website...</font></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<div class="testimonials-grid-left1">
									<img src="{% static "images/pv.png" %}" alt="" height="150" width="120"class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span><font size="04"><b>Pavleen Kaur: </b></span> The website looks awesome and is very easy to update.This product is so user-friendly, that we were quickly able to populate it with my choice of music...</font></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<div class="testimonials-grid-left1">
									<img src="{% static "images/t2.png" %}" alt=" " height="150" width="120" class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span><font size="04"><b>Guneet Kaur: </b></span>Fantasic collection of songs even found some hard-to-found classics-- strongly reccomended...</font></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<div class="testimonials-grid-left1">
									<img src="{% static "images/t3.png" %}" alt="" height="140" width="120"class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span><font size="04"><b>Manvir Singh: </b></span>Fantasic UI/UX designs with smooth and dymanic functionality -- Result of a determined work...</font></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
					</ul>
				</div>
			</section>


		<!--footer-->
			<div class="footer">
					<div class="col-md-3 footer-grid">
						<h4>Project</h4>
						<ul>
							<li>musJM</li>
							<li>Industrial Training</li>
							<li>GTBIT</li>
							<li>by-Jasmine</li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>Genre</h4>
						<ul>
							<li><a href="{% url 'music:punjabi' %}">PUNJABI MUSIC</a></li>
							<li><a href="{% url 'music:english' %}">ENGLISH Music</a></li>
							<li><a href="{% url 'music:hindi' %}">HINDI Music</a></li>

                            <li><a href="{% url 'music:edm' %}">EDM</a></li>

                            <li><a href="{% url 'music:devotional' %}">DEVOTIONAL</a></li>

                            <li><a href="{% url 'music:workout' %}">WORKOUT</a></li>

						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>Navigator</h4>
						<ul>
							<li><a href="{% url 'music:index' %}">musJM</a></li>
                            </br>
							<li><a href="{% url 'music:albums' %}">Albums</a></li>
                            </br>
							<li><a href="{% url 'music:songs' 'all' %}">Songs</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h2><a href="index.html">musJM || Music By Jasmine</a></h2>
                        </br>
						<p>&copy; Jasmine </p>
					</div>
					<div class="clearfix"></div>
			</div>
		<!--//footer-->
	</div>
	<div class="clearfix"></div>
</div>
</div>

<!-- //banner -->
<!-- for bootstrap working -->
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Use downloaded version of Bootstrap -->
<script type="text/javascript" src={% static "music/js/bootstrap.min.js" %}></script>


  
</body>
</html>
